body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to top left,black,gray);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container-1{
    align-items: center;
    text-align: center;
    margin: 40px;
    padding: 20px;
    gap: 20px;
    background-image: linear-gradient(to top,gray,darkorange);
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px aqua;
}

h1{
    color: white;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    text-shadow: 10px 10px 8px #9FE2BF;
    background-image: linear-gradient(to bottom right,Fuchsia,Teal,Navy,Aqua);
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #9FE2BF ;
    margin: 20px;
    padding: 20px;
}

h3{
    text-shadow: 20px 20px 4px black;
}

textarea{
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px MediumSpringGreen;
}

button{
    font-size: large;
    text-shadow: 5px 5px 3px black;
    margin: 20px;
    padding: 10px;
    color: white;
    background-image: linear-gradient(to bottom left,Fuchsia,teal);
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px steelblue;
}

button:hover{
    background-image: linear-gradient(to bottom right,rgb(143, 7, 143),rgb(20, 95, 95));
    transition: transform .2s;
    padding: 15px;
    font-size: larger;
}